<div class="body">
  <section class="section">
    <form>
      <label for="country"
        ><i class="fa fa-search"></i
        ><input
          (keyup)="searchCountries($event)"
          type="text"
          id="country"
          placeholder="Search for a country"
      /></label>
    </form>
    <div>
      <select name="continent" id="continent" (change)="regionSearch($event)">
        <option value="">Filter by Region</option>
        <option value="africa">Africa</option>
        <option value="americas">America</option>
        <option value="asia">Asia</option>
        <option value="europe">Europe</option>
        <option value="oceania">Oceania</option>
      </select>
    </div>
  </section>

  <main class="main container-fluid col-12">
    <country-thumbnail
      [country]="country"
      *ngFor="let country of countries"
    ></country-thumbnail>
  </main>
</div>
